<template>
  <div class="submit-form">
    <div v-if="!submitted">
           <div class="form-group">

             <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          v-model="book.title"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        <input
          class="form-control"
          id="author"
          required
          v-model="book.author"
          name="author"
        />
      </div>

            <div class="form-group">
        <label for="numberOfPages">Number of Pages</label>
        <input
          type="number"
          class="form-control"
          id="numberOfPages"
          required
          v-model="book.numberOfPages"
          name="numberOfPages"
        />
      </div>

      <div class="form-group">
        <label for="rate">Rate</label>
        <input
          class="form-control"
          id="rate"
          required
          v-model="book.rate"
          name="rate"
        />
      </div>


      <button @click="saveBook" class="btn btn-success">Submit</button>
    </div>

    <div v-else>
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" @click="newBook">Add</button>
    </div>
  </div>
</template>

<script>
import BookDataService from "../services/BookDataService";

export default {
  name: "add-book",
  data() {
    return {
      book: {
        id: null,
        title: "",
        author: "",
        numberOfPages: 0,
        rate: "",
      },
      submitted: false
    };
  },
  methods: {
    saveBook() {
        //TODO
      var data = {
        title: this.book.title,
        author: this.book.author,
        numberOfPages: this.book.numberOfPages,
        rate: this.book.rate,
      };

      BookDataService.createOrUpdate(data)
        .then(response => {
          this.book.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
        })
        .catch(e => {
          console.log(e);
        });
    },
    
    newBook() {
      this.submitted = false;
      this.book = {};
    }
  }
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
</style>