<template>
  <div class="submit-form">
    <div v-if="!submitted">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          v-model="movie.title"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        <input
          class="form-control"
          id="author"
          required
          v-model="movie.author"
          name="author"
        />
      </div>

            <div class="form-group">
        <label for="productionTime">Production Time</label>
        <input
          type="number"
          class="form-control"
          id="productionTime"
          required
          v-model="movie.productionTime"
          name="productionTime"
        />
      </div>

      <div class="form-group">
        <label for="rate">Rate</label>
        <input
          class="form-control"
          id="rate"
          required
          v-model="movie.rate"
          name="rate"
        />
      </div>

      <button @click="saveMovie" class="btn btn-success">Submit</button>
    </div>

    <div v-else>
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" @click="newMovie">Add</button>
    </div>
  </div>
</template>

<script>
import MovieDataService from "../services/MovieDataService";

export default {
  name: "movie-add",
  data() {
    return {
      movie: {
        id: null,
        title: "",
        author: "",
        productionTime: 0,
        rate: "",
      },
      submitted: false
    };
  },
  methods: {
    saveMovie() {
        //TODO
      var data = {
        title: this.movie.title,
        author: this.movie.author,
        productionTime: this.movie.productionTime,
        rate: this.movie.rate,
      };

      MovieDataService.createOrUpdate(data)
        .then(response => {
          this.movie.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
        })
        .catch(e => {
          console.log(e);
        });
    },
    
    newMovie() {
      this.submitted = false;
      this.movie = {};
    }
  }
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
</style>