<template>
  <div class="submit-form">
    <div v-if="!submitted">
            <div class="form-group">

             <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          v-model="series.title"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        <input
          class="form-control"
          id="author"
          required
          v-model="series.author"
          name="author"
        />
      </div>

            <div class="form-group">
        <label for="productionTime">Production Time</label>
        <input
          type="number"
          class="form-control"
          id="productionTime"
          required
          v-model="series.productionTime"
          name="productionTime"
        />
      </div>

      <div class="form-group">
        <label for="rate">Rate</label>
        <input
          class="form-control"
          id="rate"
          required
          v-model="series.rate"
          name="rate"
        />
      </div>

      <button @click="saveSeries" class="btn btn-success">Submit</button>
    </div>

    <div v-else>
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" @click="newSeries">Add</button>
    </div>
  </div>
</template>

<script>
import SeriesDataService from "../services/SeriesDataService";

export default {
  name: "series-add",
  data() {
    return {
      series: {
        id: null,
        title: "",
        author: "",
        productionTime: 0,
        rate: "",
      },
      submitted: false
    };
  },
  methods: {
    saveSeries() {
        //TODO
      var data = {
        title: this.series.title,
        author: this.series.author,
        productionTime: this.series.productionTime,
        rate: this.series.rate,
      };

      SeriesDataService.createOrUpdate(data)
        .then(response => {
          this.series.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
        })
        .catch(e => {
          console.log(e);
        });
    },
    
    newSeries() {
      this.submitted = false;
      this.series = {};
    }
  }
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
</style>