<template>
  <div v-if="currentBook" class="edit-form">
    <h4>Book</h4>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title"
          v-model="currentBook.title"
        />
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" id="author"
          v-model="currentBook.author"
        />
      </div>
      <div class="form-group">
        <label for="numberOfPages">Number of Pages</label>
        <input type="number" class="form-control" id="numberOfPages"
          v-model="currentBook.numberOfPages"
        />
      </div>
      <div class="form-group">
        <label for="rate">Rate</label>
        <input type="text" class="form-control" id="rate"
          v-model="currentBook.rate"
        />
      </div>
    </form>

    <button v-if="isAdmin" class="badge badge-danger mr-2"
      @click="deleteBook"
    >
      Delete
    </button>

    <button type="submit" class="badge badge-success"
      @click="updateBook"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div v-else>
    <br />
    <p>Please click on a Book...</p>
  </div>
</template>

<script>
import BookDataService from "../services/BookDataService";

export default {
  name: "book",
  data() {
    return {
      currentBook: null,
      message: ''
    };
  },
  methods: {
    isAdmin() {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes('ROLE_ADMIN');
      }

      return false;
    },
    getBook(id) {
      BookDataService.get(id)
        .then(response => {
          this.currentBook = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },


    updateBook() {
      BookDataService.createOrUpdate(this.currentBook)
        .then(response => {
          console.log(response.data);
          this.message = 'The book was updated successfully!';
        })
        .catch(e => {
          console.log(e);
        });
    },

    deleteBook() {
      BookDataService.delete(this.currentBook.id)
        .then(response => {
          console.log(response.data);
          this.$router.push({ name: "books" });
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.message = '';
    this.getBook(this.$route.params.id);
  }
};
</script>

<style>
.edit-form {
  max-width: 300px;
  margin: auto;
}
</style>