<template>
  <div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by title"
          v-model="title"/>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"
            @click="searchTitle"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Books List</h4>
      <ul class="list-group">
        <li class="list-group-item"
          :class="{ active: index == currentIndex }"
          v-for="(book, index) in books"
          :key="index"
          @click="setActiveBook(book, index)"
        >
          {{ book.title }}
        </li>
      </ul>

    </div>
    <div class="col-md-6">
      <div v-if="currentBook">
        <h4>Book</h4>
        <div>
          <label><strong>Title:</strong></label> {{ currentBook.title }}
        </div>
        <div>
          <label><strong>Author:</strong></label> {{ currentBook.author }}
        </div>
        <div>
          <label><strong>Number of Pages:</strong></label> {{ currentBook.numberOfPages }}
        </div>
        <div>
          <label><strong>Rate:</strong></label> {{ currentBook.rate }}
        </div>
        <a class="badge badge-primary" style="margin: 0 15px 0 15px"
          :href="'/book/' + currentBook.id"
        >
          Edit
        </a>
        <button class="badge badge-warning" type="button"
          @click="addToFavorite"
        >
          Favorite
        </button>
      </div>
      <div v-else>
        <br />
        <p>Please click on a Book...</p>
      </div>
    </div>
  </div>
</template>

<script>
import FavoriteService from '../services/FavoriteService';
import BookDataService from "../services/BookDataService";

export default {
  name: "books-list",
  data() {
    return {
      books: [],
      currentBook: null,
      currentIndex: -1,
      title: ""
    };
  },
  methods: {
    retrieveBooks() {
      BookDataService.getAll()
        .then(response => {
          this.books = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },
    addToFavorite() {
      FavoriteService.addBook(this.currentBook.id)
        .then(response => {
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });},
    refreshList() {
      this.retrieveBooks();
      this.currentBook = null;
      this.currentIndex = -1;
    },

    setActiveBook(book, index) {
      this.currentBook = book;
      this.currentIndex = index;
    },
    
    searchTitle() {
      BookDataService.findByTitle(this.title)
        .then(response => {
          this.books = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.retrieveBooks();
  }
};
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
</style>