<template>
  <div v-if="currentMovie" class="edit-form">
    <h4>Movie</h4>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title"
          v-model="currentMovie.title"
        />
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" id="author"
          v-model="currentMovie.author"
        />
      </div>
            <div class="form-group">
        <label for="productionTime">Production Time</label>
        <input type="text" class="form-control" id="productionTime"
          v-model="currentMovie.productionTime"
        />
      </div>
      <div class="form-group">
        <label for="rate">Rate</label>
        <input type="text" class="form-control" id="rate"
          v-model="currentMovie.rate"
        />
      </div>

    </form>

    <button v-if="isAdmin" class="badge badge-danger mr-2"
      @click="deleteMovie"
    >
      Delete
    </button>

    <button type="submit" class="badge badge-success"
      @click="updateMovie"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div v-else>
    <br />
    <p>Please click on a Movie...</p>
  </div>
</template>

<script>
import MovieDataService from "../services/MovieDataService";

export default {
  name: "movie",
  data() {
    return {
      currentMovie: null,
      message: ''
    };
  },
  methods: {
    isAdmin() {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes('ROLE_ADMIN');
      }

      return false;
    },
    getMovie(id) {
      MovieDataService.get(id)
        .then(response => {
          this.currentMovie = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    updateMovie() {
      MovieDataService.createOrUpdate(this.currentMovie)
        .then(response => {
          console.log(response.data);
          this.message = 'The movie was updated successfully!';
        })
        .catch(e => {
          console.log(e);
        });
    },

    deleteMovie() {
      MovieDataService.delete(this.currentMovie.id)
        .then(response => {
          console.log(response.data);
          this.$router.push({ name: "movies" });
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.message = '';
    this.getMovie(this.$route.params.id);
  }
};
</script>

<style>
.edit-form {
  max-width: 300px;
  margin: auto;
}
</style>