<template>
  <div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by title"
          v-model="title"/>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"
            @click="searchTitle"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Movies List</h4>
      <ul class="list-group">
        <li class="list-group-item"
          :class="{ active: index == currentIndex }"
          v-for="(movie, index) in movies"
          :key="index"
          @click="setActiveMovie(movie, index)"
        >
          {{ movie.title }}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div v-if="currentMovie">
        <h4>Movie</h4>
        <div>
          <label><strong>Title:</strong></label> {{ currentMovie.title }}
        </div>
        <div>
          <label><strong>Author:</strong></label> {{ currentMovie.author }}
        </div>
        <div>
          <label><strong>Production Time:</strong></label> {{ currentMovie.productionTime }}
        </div>
        <div>
          <label><strong>Rate:</strong></label> {{ currentMovie.rate }}
        </div>
        <a class="badge badge-primary" style="margin: 0 15px 0 15px"
          :href="'/movies/' + currentMovie.id"
        >
          Edit
        </a>
        <button class="badge badge-warning" type="button"
          @click="addToFavorite"
        >
          Favorite
        </button>
      </div>
      <div v-else>
        <br />
        <p>Please click on a Movie...</p>
      </div>
    </div>
  </div>
</template>

<script>
import FavoriteService from '../services/FavoriteService';
import MovieDataService from "../services/MovieDataService";

export default {
  name: "movies-list",
  data() {
    return {
      movies: [],
      currentMovie: null,
      currentIndex: -1,
      title: ""
    };
  },
  methods: {
    retrieveMovies() {
      MovieDataService.getAll()
        .then(response => {
          this.movies = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    refreshList() {
      this.retrieveMovies();
      this.currentMovie = null;
      this.currentIndex = -1;
    },

    setActiveMovie(movie, index) {
      this.currentMovie = movie;
      this.currentIndex = index;
    },
    
    searchTitle() {
      MovieDataService.findByTitle(this.title)
        .then(response => {
          this.movies = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },
    addToFavorite() {
      FavoriteService.addMovies(this.currentMovie.id)
        .then(response => {
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.retrieveMovies();
  }
};
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
</style>