<template>
  <div class="container">
    <header class="jumbotron">
      <h3>
        <strong>{{currentUser.username}}</strong> Profile
      </h3>
    </header>
    <p>
      <strong>Email:</strong>
      {{currentUser.email}}
    </p>
    <strong>Favorites:</strong><br/>
    <strong>Books:</strong>
    <ul>
      <li v-for="(book,index) in favorites.books" :key="index">
        Title: {{book.title}}
        <button class="badge badge-warning" type="button"
          @click="deleteBookFromFavorite(book.id)"
        >
          Remove from favorite
        </button>
        </li>
    </ul>
    <strong>Movies:</strong>
    <ul>
      <li v-for="(movie,index) in favorites.movies" :key="index">
        Title: {{movie.title}}
          <button class="badge badge-warning" type="button"
          @click="deleteMoviesFromFavorite(movie.id)"
        >
          Remove from favorite
        </button>
        </li>
    </ul>
    <strong>Series:</strong>
    <ul>
      <li v-for="(series,index) in favorites.series" :key="index">
        Title: {{series.title}}
        <button class="badge badge-warning" type="button"
          @click="deleteSeriesFromFavorite(series.id)"
        >
          Remove from favorite
        </button>
      </li>
    </ul>
  </div>
</template>

<script>
import FavoriteService from '../services/FavoriteService';
export default {
  name: 'Profile',
    data() {
    return {
      favorites: [],}},
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
  },
        methods: {
      deleteBookFromFavorite(id) {
      FavoriteService.deleteBook(id)
        .then(response => {
          console.log(response.data);
              this.retrieveFavorites();

        })
        .catch(e => {
          console.log(e);
        });},
              deleteSeriesFromFavorite(id) {
      FavoriteService.deleteSeries(id)
        .then(response => {
          console.log(response.data);
              this.retrieveFavorites();

        })
        .catch(e => {
          console.log(e);
        });},
              deleteMoviesFromFavorite(id) {
      FavoriteService.deleteMovies(id)
        .then(response => {
          console.log(response.data);
              this.retrieveFavorites();
        })
        .catch(e => {
          console.log(e);
        });},
      retrieveFavorites() {
        FavoriteService.getFavorites()
          .then(response => {
            this.favorites = response.data;
            console.log(response.data);
          })
          .catch(e => {
            console.log(e);
          });
      },},
  mounted() {
    if (!this.currentUser) {
      this.$router.push('/login');
    }
    this.retrieveFavorites();
  }
};
</script>