<template>
  <div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by title"
          v-model="title"/>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"
            @click="searchTitle"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Seriess List</h4>
      <ul class="list-group">
        <li class="list-group-item"
          :class="{ active: index == currentIndex }"
          v-for="(series, index) in seriess"
          :key="index"
          @click="setActiveSeries(series, index)"
        >
          {{ series.title }}
        </li>
      </ul>

    </div>
    <div class="col-md-6">
      <div v-if="currentSeries">
        <h4>Series</h4>
        <div>
          <label><strong>Title:</strong></label> {{ currentSeries.title }}
        </div>
        <div>
          <label><strong>Author:</strong></label> {{ currentSeries.author }}
        </div>
        <div>
          <label><strong>Production Time:</strong></label> {{ currentSeries.productionTime }}
        </div>
        <div>
          <label><strong>Rate:</strong></label> {{ currentSeries.rate }}
        </div>

        <a class="badge badge-primary" style="margin: 0 15px 0 15px"
          :href="'/series/' + currentSeries.id"
        >
          Edit
        </a>
        <button class="badge badge-warning" type="button"
          @click="addToFavorite"
        >
          Favorite
        </button>
      </div>
      <div v-else>
        <br />
        <p>Please click on a Series...</p>
      </div>
    </div>
  </div>
</template>

<script>
import FavoriteService from '../services/FavoriteService';
import SeriesDataService from "../services/SeriesDataService";

export default {
  name: "seriess-list",
  data() {
    return {
      seriess: [],
      currentSeries: null,
      currentIndex: -1,
      title: ""
    };
  },
  methods: {
    retrieveSeriess() {
      SeriesDataService.getAll()
        .then(response => {
          this.seriess = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },
    addToFavorite() {
      FavoriteService.addSeries(this.currentSeries.id)
        .then(response => {
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });},
    refreshList() {
      this.retrieveSeriess();
      this.currentSeries = null;
      this.currentIndex = -1;
    },

    setActiveSeries(series, index) {
      this.currentSeries = series;
      this.currentIndex = index;
    },

    searchTitle() {
      SeriesDataService.findByTitle(this.title)
        .then(response => {
          this.seriess = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.retrieveSeriess();
  }
};
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
</style>