<template>
  <div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <router-link to="/" class="navbar-brand">PROG-5-HW</router-link>
      <div class="navbar-nav mr-auto">
        <li v-if="!currentUser" class="nav-item">
          <router-link to="/register" class="nav-link">
            <font-awesome-icon icon="user-plus" />Sign Up
          </router-link>
        </li>
        <li v-if="!currentUser" class="nav-item">
          <router-link to="/login" class="nav-link">
            <font-awesome-icon icon="sign-in-alt" />Login
          </router-link>
        </li>

        <li v-if="currentUser" class="nav-item">
          <router-link to="/profile" class="nav-link">
            <font-awesome-icon icon="user" />
            {{ currentUser.username }}
          </router-link>
        </li>
        <li v-if="currentUser" class="nav-item">
          <a class="nav-link" href @click.prevent="logOut">
            <font-awesome-icon icon="sign-out-alt" />LogOut
          </a>
        </li>
  <span class=" navbar-nav ml-auto">
        <li class="nav-item">
          <router-link to="/movie" class="nav-link">Movies</router-link>
        </li>
        <li class="nav-item">
          <router-link v-if="isAdmin || isModerator" to="/movie-add" class="nav-link">Movie add</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/series" class="nav-link">Series</router-link>
        </li>
        <li class="nav-item">
          <router-link v-if="isAdmin || isModerator" to="/series-add" class="nav-link">Series add</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/book" class="nav-link">Books</router-link>
        </li>
        <li class="nav-item">
          <router-link v-if="isAdmin || isModerator" to="/book-add" class="nav-link">Book Add</router-link>
        </li>
  </span>
            </div>
    </nav>

    <div class="container mt-3">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  name:"app",
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    isAdmin() {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes('ROLE_ADMIN');
      }

      return false;
    },
    isModerator() {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes('ROLE_MODERATOR');
      }

      return false;
    }
  },
  methods: {
    logOut() {
      this.$store.dispatch('auth/logout');
      this.$router.push('/login');
    }
  }
};
</script>